[Unit]
Description=Script du projet Artnet - Notifications MQTT
After=network.target
Wants=network.target
After=mysql.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -m 740 -p /var/log/artnet
ExecStartPre=/usr/bin/touch /var/log/artnet/gestionModulesDMXWiFi.log
ExecStartPre=/usr/bin/touch /var/log/artnet/gestionEquipementDMX.log
ExecStart=/usr/local/bin/chemin-artnet.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
